body{
    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: white;
    background: #144D73;

}

main{
    background: #2181C2;
    padding: 10px;
    display: block;
    text-align: center;
    
}

.foto img{
    width: 180px;
    height: 180px;
    border: 5px solid #144D73;
}

.disciplinas table{
    background: #144D73;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}

.links{
    margin-top: 50px;
}

.btn{
     font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid black;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.btn-color{
    background: #73C1F4;
    color: black;
    box-shadow: 0 5px 0 #144D73;
  }
.btn-color:hover{
    background: #2181C2;
    color: #fff;
    box-shadow: 0 5px 0 #144D73;
  }
.btn-color:active{
    position: relative;
    top: 5px;
    box-shadow: none;
  }
  


